// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin:0;
  font-family: Helvetica, sans-serif;
}

a {
  text-decoration: none;
  color: white;
}
.background-image{
  background-image: url("/landing-page/img/apple-background-connection-399161.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: rgba(225,205,206, 1);
  height:100%;
}

.navigation-bar{
  background-color: rgba(0,0,0, 0.1);
  display:flex;
  justify-content: flex-end;
  font-size: 18px;
  padding-right: 30px;
  padding-left: 30px;
  position: fixed;
  width:97%;
}

.navigation-items {
  list-style: none;
  display:flex;
  flex-direction: row;
}

#about-list-item, #contact-list-item, #blog-list-item {
  margin:10px;
}

.first_section {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100vh;
  line-height: 100%;
}

.title-1, .title-2 {
  /*margin: 10px; removed after moving the fonts up*/
  color: white;

}

.title-1 {
  font-size:55px;
  position: absolute;
  top: 60%;
  left: 50%;
  height: 50%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.title-2 {
  font-size:32px;
  position: absolute;
  top: 65%;
  left: 50%;
  height: 50%;
  width: 50%;
  margin: -15% 0 0 -25%;
}

.about-title, li{
  color:black;
}

.about_me {
  height:40vh;
  }

#about {
  display:flex;
  justify-content: center;
  margin:20px;
  padding-bottom: 40px;
  font-size:25px;
}

h3 {
  display:flex;
  color:black;
  justify-content: center;
  margin:10px;
}

.skills_interests_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
 }

.skills, .interests {
  border: 2px solid black;
  border-radius: 5px;
  font-size:20px;
}

.skills {
  margin-right:100px;
}

.skills-list, .interests-list {
    padding:20px 70px 30px 70px;
}

hr {
  margin:20px auto 70px;
  width: 60%;

}

.contact-title {
  color:black;
  font-size: 35px;
  margin:20px;
  display: flex;
  justify-content: center;
}

#contact_me {
  color:black;
  display:flex;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  margin-left: 80px;
}

#contact_me div {
  margin:20px;
  width:40%;
}

#contact_me input{
  width: 80%;
  height:30px;
  font-size: 15px;
  border:1px solid grey;
  border-radius: 3px;
}

textarea {
  width: 80%;
  height: 100px;
  font-size: 15px;
  border: 1px solid grey;
  border-radius:3px;
  resize: none;
}


submit-button {
  background-color:#17a5e8;
  color:white;
}

footer {
  background-color: rgba(0,0,0, 0.1);
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}